* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
}

.header {
    width: 100vw;
    height: 42vh;
    background-color: #b8996c;
    background-image: url("img/capaFace.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sociais {
    width: 100vw;
    height: 10vh;
    background-color: #C8B598;
    background-image: linear-gradient(#C8B598, #b8996c);
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

a {
    text-decoration: none;
}

.round {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: #38413a;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6vw;
    color: #ffffff;
}

.round:hover {
    background-color: #5a7e5c;
    font-size: 3vw;
    transition: 0.3s;
}

.grupoWppPC {
    width: 100vw;
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    color: #2d532d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.grupoWppCel {
    display: none;
}

.qrcode {   
    width: 10vw;
    margin-right: 1vw;
}

@media(max-width: 768px) {
    .header {
        height: 30vh;
        background-image: url("img/capaFace2.png");
    }

    .sociais {
        height: 8vh;
    }

    .round {
        width: 15vw;
        height: 15vw;
        font-size: 8vw;
    }

    .round:hover {
        background-color: #38413a;
        font-size: 8vw;
    }

    .grupoWppPC {
        display: none;
    }

    .grupoWppCel {
        display: grid;
        width: 100vw;
        margin-top: 5vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 4vw;
        color: #2d532d;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }

    .linkWpp {
        width: 50vw;
        height: 5vh;
        border-radius: 50px;
        background-color: #38413a;
        margin: auto;
        margin-top: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2px;
        font-size: 4vw;
        color: #ffffff;
    }
}